{% extends "front.html" %}

{% block canonical_tag %}
    {% if tag %}
        <link rel="canonical" href="{{ request.url_root }}{{ g.lang_code }}/tag/{{ tag }}" />
    {% elif author %}
        <link rel="canonical" href="{{ request.url_root }}{{ g.lang_code }}/author/{{ author.username }}" />
    {% else %}
        <link rel="canonical" href="{{ request.url_root }}" />
    {% endif %}

{% endblock %}

{% block content %}
    {% if tag or author %}
        <div class="alert alert-primary h3" dir=auto> 
            {% if tag %}
                {{ _("Tag") }}: {{ tag }} 
            {% elif author %}            
                {{ _("Posts of") }} : {{ author.name }}
            {% endif %}                
        </div>
    {% endif %}
    
    {% for post in posts %}
        <div class="mb-3 {% if not loop.last %}border-bottom{% endif %}">
            
            {% include('user/_index_post_common_header.html') %}
            
            <div class="row">     
                <div class="col-12 markdown-body" dir="auto">               
                        {% if post.resume_html %}
                            {{ post.resume_html | safe }}
                        {% else %}
                            {{ post.resume }}
                        {% endif %}                            
                </div>
            </div>    
          
            <div class="row mt-4 mb-3"> 
                <div class="col text-end">
                    <div class="btn-group">                    
                        <a href="{{ url_for('.post', lang_code=post.lang_code, slug=post.slug) }}" class="btn btn-outline-danger btn-sm">{{ _('Continue reading this post') }}</a>
                        <a href="{{ url_for('.post', lang_code=post.lang_code, slug=post.slug, _anchor='comments') }}" class="btn btn-sm btn-outline-primary">{{ post.comments.filter_by(active=True).count() }} {{ _('comments') }}</a>                
                    </div>                        
                </div>                           
            </div>
            
                                                  
        </div>                   
    {% endfor %}
    
    
    <div class="text-center">           
        {% from '_macros.html' import paginate %}        
        {{ paginate(request.endpoint, request.view_args, pagination) }}        
    </div>
        
{% endblock %}
