{% extends "front.html" %}

{% block content %}
    {% if tag or author %}
        <div class="alert alert-primary h3" dir=auto> 
            {% if tag %}
                {{ _("Tag") }}: {{ tag }} 
            {% elif author %}            
                {{ _("Posts of") }} : {{ author.name }}
            {% endif %}                
        </div>
    {% endif %}
    
    {% for post in posts %}
        <div>
            
            {% include('user/_index_post_common_header.html') %}
            
            <div class="row">     
                <div class="col-12">               
                    <p dir="auto">
                        {{ post.resume }} 
                    </p>
                </div>
            </div>    
          
            <div class="row mb-5"> 
                <div class="col-6 align-self-center">
                    <a href="{{ url_for('.post', lang_code=post.lang_code, slug=post.slug) }}">{{ _('Continue reading this post') }}</a>
                </div>
                
                <div class="col-6 text-end">
                    <a href="{{ url_for('.post', lang_code=post.lang_code, slug=post.slug, _anchor='comments') }}" class="btn btn-sm btn-outline-primary">{{ post.comments.filter_by(active=True).count() }} {{ _('comments') }}</a>                
                </div>  
                         
            </div>
            
                                                  
        </div>                   
    {% endfor %}
    
    
    <div class="text-center">           
        {% from '_macros.html' import paginate %}        
        {{ paginate(request.endpoint, request.view_args, pagination) }}        
    </div>
        
{% endblock %}
