{% extends "front.html" %}

{% block content %}
<div>
    {% include('user/_index_post_common_header.html') %}
        
    <div class="row">
        <div class="col-12 markdown-body" dir="auto">
            {% if post.story %}
                <div class="admonition attention">
                    <p class="admonition-title">{{ _("Story") }}: {{ post.story.name }}</p>
                    <p> {{ _("In this story") }}</p>
                    <ol>
                        {% for post_ in post.story.posts.all() if post.story %}
                            <li>
                                {% if post_.id == post.id %}
                                    {{ post_.title }} ({{ _("This post") }})
                                {% else %}
                                    <a href="{{ url_for('.post', lang_code=post_.lang_code, slug=post_.slug) }}">{{ post_.title }}</a></li>                           
                                {% endif %}                                    
                        {% endfor %}
                    </ol>
                </div>                    
            {% endif %}
            
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </div>
    </div>
    
    <div class="row"  id="comments">
        <div class="col-12 text-end mt-5">
            <a class="btn btn-outline-primary btn-sm" href="#comments">{{ post.comments.filter_by(active=True).count() }} {{ _('Comments') }} </a>
        </div>    
    </div>   
     
    {% for comment in post.comments.filter_by(parent_id = None) if comment.active recursive %}
        {% if loop.depth == 1 and loop.first %} <div class="row" dir="auto"> {% endif %} 
            <div  class="col-{{ 12 - loop.depth0 }} offset-{{ loop.depth0 }}">
                <div class="row">
                    <div class="col-1">
                    <img class="img-fluid" src="{{ comment.avatar(128) }}">
                     </div>
                    <div class="col-11">
                        <span class="badge bg-warning">
                        {% if comment.author %}
                            <a href="{{ url_for('user.index.profile', lang_code=g.lang_code, username=comment.author.username) }}">{{ comment.author.name }}</a>
                        {% else %}                
                            {{ comment.name }} 
                        {% endif %}
                        </span>
                        
                        <a href="#{{comment.id}}"><span class="badge bg-secondary" id="{{ comment.id }}">{{ comment.date_created }}</span></a>                        
                        
                        <p class="mt-2"> {{ comment.comment }} <a href="#comment_form" onclick="responseTo({{ comment.id }}, '{{ comment.comment }}')">{{ _("Response") }}</a> <p>               
                    </div>                
                </div>
            </div>  
              
            {% if comment.children %}
                {{ loop(comment.children) }}
            {% endif %}
                        
        {% if loop.depth == 1 and loop.last %} </div> {% endif %}   
    {% endfor %}
    
    
    {% if post.get_comment %}
    <div class="row" dir="auto">
        <div class="col-12">
            <p class="mt-5 text-secondary" id="comment_form"> {{ _('Leave a comment') }} </p>   
            {% from 'bootstrap5/form.html' import render_field %}
            <div id="form_info"></div>
        </div>
    </div>           
    
    <form method="post" action="" class="form mb-3" role="form"> {{ comment_form.hidden_tag() }}
    <div class="row" dir="auto">
        {% if not current_user.is_authenticated %}
            <div class="col-6">                
                {{ render_field(comment_form.name) }}
            </div>
            
            <div class="col-6">
                {{ render_field(comment_form.email) }}
            </div>                 
        {% endif %}
        
        <div class="col-12">
            {{ render_field(comment_form.comment) }}
        </div>
        
        <div class="col">
            {{ render_field(comment_form.submit) }}        
        </div>        
    </div>
    </form>
    {% endif %}
</div>    
    
{% endblock %}

{% block scripts %}
    {{ super() }}
    
    <script>
    function responseTo(post_id, comment) {
        //alert(post_id);
        document.getElementById('parent_id').value=post_id;
        document.getElementById('form_info').innerHTML="> " + comment;
        //document.getElementById('comment').focus();   
    }
    </script>
{% endblock %}

