{% extends "base.html" %}

{% block content %}
    <h3>{{ title }}</h3>
    
    {% if not comments | length %}
        no comments
    {% else %}
        {% for comment in comments %}
            <div dir="auto">                
                <p> {{ comment.comment }} </p>
                
                {{ comment.name }} | {{ comment.post.title }} | {{ comment.date_created }} | 
                <a href="{{ url_for('admin_comments.delete_comment', id=comment.id) }}">Delete</a>
            
                {% if not comment.active %}
                    | 
                        <a href="{{ url_for('admin_comments.active_comment', id=comment.id, back_to_post='ok' if post_id else None) }}">Active</a>
                      
                {% endif %}
            
                {% if not loop.last %} <hr> {% endif %}
            </div>
        {% endfor %} 
    {% endif %}
   
{% endblock %}
