            <div class="row">
                <div class="col-12">
                    <p dir="auto" class="h5 mb-4">                
                            <a href="{{ url_for('user.index.post', lang_code=post.lang_code, slug=post.slug) }}">
                                {{ post.title }}
                            </a>
                    </p>
                </div>
            </div>
            
            <div class="row">    
                <div class="col-12">
                    <p dir="auto">
                        {{ _('Posted by') }}: 
                            <span class="badge bg-warning">
                                <a href="{{ url_for('user.index.profile', lang_code=post.lang_code, username=post.author.username) }}">                                
                                {{ post.author.name }}
                                </a>     
                            </span>
                         {{ _('on') }} <span class="badge bg-danger">{{ post.date_created.strftime("%Y-%m-%d") }}</span>
                        {% for tag in post.tags %}
                            {% if loop.first %}
                                {{ _('under') }}
                            {% endif %}
                            
                            <span class="badge bg-primary">{{ tag.name }}</span>
                        {% endfor %} 
                        
                        {% if current_user.is_administrator() %}
                            <a href="{{ url_for('admin.posts.post', id=post.id) }}"><span class="badge bg-primary">Edit</span></a>
                        {% endif %}          
                    </p>
                </div>
            </div>