
.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.admonition.info { /* csslint allow: adjoining-classes */
    color: #2e6b89;
    background-color: #e2f0f7;
    border-color: #bce8f1;
}

.admonition.warning { /* csslint allow: adjoining-classes */
    color: #7a6032;
    background-color: #fffae5;
    border-color: #fbeed5;
}

.admonition.danger  { /* csslint allow: adjoining-classes */
    color: #7f3130;
    background-color: #fde3e3;
    border-color: #eed3d7;
}

.admonition-title  {
    font-weight: bold;
}

.admonition>p:last-child, details>p:last-child {
    margin-bottom: 0;
}

