.h1 a, .h2 a, .h3 a, .h4 a, .h5 a {
    text-decoration:none
}

a {
  color: #66a;
}

a:hover {
  color: #000;
}

#flask-pagedown-body {
    min-height: 250px
}

#flask-pagedown-body-preview {
    margin-top:5px;
    padding:5px;
    border-style:solid;
    border-color:silver;
    border-width:0 0px 0 3px;
}

.post-info-line {
    font-size: 14px
}
