{% extends "base.html" %}

{% block content %}

    <h3> {{ title }} </h3>
    
    {% if not posts | length %}
        No hay records <br>
    {% else %}
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>                                     
            </thead>
            
            <tbody>
                {% from 'macros.html' import print_status, print_show_in_list %}
                
                {% for post in posts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ print_status(post.active) }}</td>
                    <td>{{ print_show_in_list(post.show_in_list) }}</td>
                    <td><a href="{{ url_for('admin_comments.list', id=post.id) }}">{{ post.comments | length }} comments</a></td>
                    <td>Delete</td>
                    <td><a href="{{ url_for('admin_posts.post', id=post.id) }}">Edit</a></td>
                </tr>
                {% endfor %}                 
            </tbody>
        </table>
    {% endif %}
    
{% endblock %}
