<!doctype html>
<html>
    <head>
        <title> {% block title %} {{ config.get('PROJECT_NAME') }} - {{ title }} {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% block styles %}
            {{ bootstrap.load_css() }}
            
            {% if g.lang_code == 'fa' %}
                <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet" /></head>
                <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
            {% endif %}         
        {% endblock %}
            
    </head>
    
    
    
    <body>
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('user.index.index') }}">{{ config.PROJECT_NAME }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for lang in config.LANG_CODES if lang != config.get('DEFAULT_LANG_CODE') %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('user.index.index', lang_code=lang) }}">{{ lang | title }}</a>
                    </li>                
                {% endfor %}
                
                {% if current_user.is_authenticated %}
                    {% if current_user.is_administrator() %}                  
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('admin.posts.list') }}">Posts</a>
                        </li>
                        
                         <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('admin.comments.list') }}">Comments</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('admin.linkdump_categories.list') }}">Linkdumps</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('admin.users.list') }}">Users</a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{{ url_for('user.auth.logout') }}">Logout</a>
                        </li>                                           
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('user.auth.login', lang_code=g.lang_code) }}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('user.auth.register', lang_code=g.lang_code) }}">Register</a>
                    </li>
                {% endif %}
                <!--
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                -->
                
              </ul>
              <!--
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              -->
            </div>
          </div>
        </nav>

        <br>
        
         <div class="container">
            {% for category, msg in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ category }}">
                    {{ msg }}
                </div>              
            {% endfor %}
            
            
                <div class="row">
                    {% if not request.endpoint.startswith('user.index.') %}
                    <div class="col-6 h3">  {{ title }} </div>
                    <div class="col-6 text-self-end text-end">
                        {% if navigation %}
                            {% for nav in navigation %}
                                <a href="{{ nav.link }}">{{ nav.text | safe }}</a>
                                {% if not loop.last %} | {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}
                    
                    <div class="col-12"> {% block content %} {% endblock %}</div>            
                </div>                                                                     
         </div>
        
                  
                    
        {% block footer %}
                <div class="container-fluid">
                 {% if request.endpoint.startswith('user.index') %}
                    {% include 'user/_linkdumps.html' %}
                 {% endif %} 
                 </div>          
                      
                 <footer class="mt-5 p-3" style="background-color: rgba(0, 0, 0, 0.2);">All right reserved for {{ config.get('PROJECT_NAME') }} </footer>                
        {% endblock %}  
            
        {% block scripts %}
            {{ bootstrap.load_js() }}       
        {% endblock %}

    </body>
</html>
