<!doctype html>
<html lang="{{ g.lang_code }}">
    <head>
        <title> {% block title %} {{ config.get('PROJECT_NAME') }} - {{ title }} {% endblock %} </title>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}">
        {%- block styles %}            
            {{ bootstrap.load_css() }}
            <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet" >             
            {% if g.lang_code == 'fa' -%}
                <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css">
                <link href="{{ url_for('static', filename='css/fa.css') }}" type="text/css" rel="stylesheet" >
            {%- endif -%}         
        {% endblock %}
        
        {% block canonical_tag %}{% endblock %}            
    </head>
    
    <body>
        <nav class="rtl navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a href="{{ url_for('user.index.index') }}"><img src="{{ url_for('static', filename='icons/favicon.png') }}" alt="" height="36" class="border-0 me-1"></a>
            <a class="navbar-brand" href="{{ url_for('user.index.index') }}">{{ config.PROJECT_NAME }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for lang in config.LANG_CODES  %}
                    <li class="nav-item">
                      <a class="nav-link {% if request.blueprint == 'user.index' and lang == g.lang_code %}active fw-bold{% endif %}" aria-current="page" href="{{ url_for('user.index.index', lang_code=lang if lang != config.get('DEFAULT_LANG_CODE') else None)}}">{{ lang | title }}</a>
                    </li>                
                {% endfor %}
                
                {% if current_user.is_authenticated %}
                    {% if current_user.is_administrator() %}                  
                        <li class="nav-item">
                          <a class="nav-link {% if request.blueprint == 'admin.posts' %} active fw-bold {% endif %}" aria-current="page" href="{{ url_for('admin.posts.list') }}">{{ _('Posts') }}</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link {% if request.blueprint == 'admin.stories' %} active fw-bold {% endif %}" aria-current="page" href="{{ url_for('admin.stories.list') }}">{{ _('Stories') }}</a>
                        </li>
                        
                         <li class="nav-item">
                          <a class="nav-link {% if request.blueprint == 'admin.comments' %} active fw-bold {% endif %}" aria-current="page" href="{{ url_for('admin.comments.list') }}">{{ _('Comments') }}</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link {% if request.blueprint in ('admin.linkdump_categories', 'admin.linkdumps') %} active fw-bold {% endif %}"  aria-current="page" href="{{ url_for('admin.linkdump_categories.list') }}">{{ _('Linkdumps') }}</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link {% if request.blueprint == 'admin.users' %} active fw-bold {% endif %}" aria-current="page" href="{{ url_for('admin.users.list') }}">{{ _('Users') }}</a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="{{ url_for('user.auth.logout') }}">{{ _('Logout') }}</a>
                        </li>                                           
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link {% if request.endpoint == 'user.auth.login' %} active fw-bold {% endif %}" aria-current="page" href="{{ url_for('user.auth.login', lang_code=g.lang_code) }}">{{ _('Login') }}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if request.endpoint == 'user.auth.register' %} active fw-bold {% endif %}"  href="{{ url_for('user.auth.register', lang_code=g.lang_code) }}">{{ _('Register') }}</a>
                    </li>
                {% endif %}
                <!--
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                -->
                
              </ul>
              <!--
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              -->
            </div>
          </div>
        </nav>

        <br>
        
        {% set has_side_bar = request.blueprint == 'user.index' and ( tags.count() or authors.count() ) %}
        
         <div class="container">
            <div class="row">
                <div class="col-lg-{%if has_side_bar%}9{%else%}12{%endif%}" id="main-content">
                    {% for category, msg in get_flashed_messages(with_categories=True) %}
                        <div class="alert alert-{{ category }}">
                            {{ msg }}
                        </div>              
                    {% endfor %}
            
            
                    <div class="row">
                        {% if not request.blueprint == 'user.index' %}
                            <div class="col-6 h3">  {{ title }} </div>
                            <div class="col-6 text-self-end text-end">
                                {% if navigation %}
                                    {% for nav in navigation %}
                                        <a href="{{ nav.link }}">{{ nav.text | safe }}</a>
                                        {% if not loop.last %} | {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                    
                        <div class="col-12"> {% block content %} {% endblock %}</div>            
                    </div>        
                </div>
                
                {% if has_side_bar %}
                <div class="col-lg-3" id="side-bar">
                
                    <div class="card mb-3">
                        <div class="card-header">{{ _("Authors") }}</div>
                        <div class="card-body text-center">
                            {% for author_, post_number in authors.all() %}
                           	<div class="btn-group mb-1 w-100">
                                <a class="{% if author_ == author %}active{% endif %}  btn btn-outline-primary btn-sm" href="{{ url_for('user.index.author', lang_code=g.lang_code, username=author_.username) }}">{{ author_.name }} <span class="badge bg-danger">{{ post_number }}</span></a>                                
                                <a  class="btn btn-outline-primary btn-sm {% if request.endpoint == 'user.index.profile' and user == author_ %} active {% endif %}" href="{{ url_for('user.index.profile', lang_code=g.lang_code, username=author_.username) }}">{{ _('Profile') }}</a>
                           	</div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    {% for category in LinkdumpCategory.query.filter_by(integrated_with_template=True, lang_code=g.lang_code).all() %}
                        <div class="card mb-3">
                        <div class="card-header">{{ category.name }}</div>
                        <div class="card-body rtl">
                                                    
                            {% for link in category.links  %}
                                {% if loop.first %}
                                    <div class="w-100 btn-group-vertical">
                                {% endif %}
                                <a class="btn btn-outline-primary btn-sm"  title="{{ link.alt }}" href="{{ link.link }}">{{ link.text }} </a>
                                
                                {% if loop.last %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    
                    <div class="card mb-3">
                        <div class="card-header">{{ _("Tags") }}</div>
                        <div class="card-body rtl">
                            {% for tag_ in tags.all() %}
                                <a class="{% if tag_.name == tag %}active{% endif %} btn btn-sm btn-outline-primary mb-1"  href="{{ url_for('user.index.tag', lang_code=g.lang_code, tag=tag_.name) }}">{{ tag_.name }} <b>{{ tag_.posts.filter_by(active=True, lang_code=g.lang_code).count() }}</b></a>
                            {% endfor %}
                        </div>
                    </div>
                                                           
                </div>
                {% endif %}
            </div>                                                            
         </div>
        
                  
                    
        {% block footer %}
            {% if request.blueprint == 'user.index' %}
                <div class="mt-5 container-fluid  pt-3">
                    {% include 'user/_linkdumps.html' %}
                </div>
            {% endif %}                            
            <footer class="mt-5 p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                {{ _('All right reserved for') }} <a href="{{ url_for('user.index.index') }}">{{ config.get('PROJECT_NAME') }}</a> &copy;2023</footer>                
        {% endblock %}  
            
        {% block scripts %}
            {{ bootstrap.load_js() }}       
        {% endblock %}

    </body>
</html>
