<html>
    <head>
        <title> {% block title %} mstafreshi.ir - {{ title }} {% endblock %} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        {% block styles %}
            {{ bootstrap.load_css() }}            
        {% endblock %}
            
    </head>
    
    
    
    <body>
       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index.index') }}">{{ config.PROJECT_NAME }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('admin_posts.post') }}">New post</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('admin_posts.list') }}">Posts</a>
                    </li>
                    
                     <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('admin_comments.list') }}">Unapproved comments</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('admin_users.list') }}">Users</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% endif %}
                <!--
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                -->
                
              </ul>
              <!--
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              -->
            </div>
          </div>
        </nav>

        <br>
        
         <div class="container">
                    
            {% for category, msg in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{ category }}">
                    {{ msg }}
                </div>              
            {% endfor %}
            
            
            <div style="min-height:250px">
                {% block content %} {% endblock %}
            </div>
            
            
            {% block footer %}                
                 <div style="padding-top:20px;padding-bottom:20px">All right reserved for mstareshi.ir <div>                
            {% endblock %}
            
            {% block scripts %}
                {{ bootstrap.load_js() }}       
            {% endblock %}
        </div>
    </body>
</html>
