{% extends "base.html" %}

{% block styles %}    
    <link href="{{ url_for('static', filename='css/github-markdown-light.css') }}" type="text/css" rel="stylesheet" >             
    <link href="{{ url_for('static', filename='css/codehilite.css') }}" type="text/css" rel="stylesheet" >
    
    {% if g.lang_code == 'fa' %}
        <link href="{{ url_for('static', filename='css/admonition_fa.css') }}" type="text/css" rel="stylesheet" >
    {% else %}
        <link href="{{ url_for('static', filename='css/admonition.css') }}" type="text/css" rel="stylesheet" >
    {% endif %}       
    <link href="{{ url_for('static', filename='css/keys.css') }}" type="text/css" rel="stylesheet" >
    {{ super() }}
{% endblock %}

{% block meta %}
    {% if request.endpoint == 'user.index.post' %}
        <meta name="description" content="{{ post.meta_description }}">
        <meta name="keywords" content="{{ post.meta_keywords.replace('+', ',') }}">
    {% else %}
        {{ super() }}        
    {% endif %}      
{% endblock %}
